<app-header>Hi</app-header>
<h1>BMI calculator</h1>

<h1 (click)="onClick()">{{ title }}</h1>
<nav>
  <a
    routerLink="/about-us"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >About Us</a
  >
  <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Home Page</a
  >

  <a
    routerLink="/bmi-page"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >BMI Page</a
  >
  <a
    routerLink="/counter-page"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Counter Page</a
  >
</nav>
<router-outlet></router-outlet>
